@model bellyful_proj_v._0._3.Models.Batch

@{
    ViewData["Title"] = "Create";
}

<h1>Add a new Batch</h1>

<hr />

<pre style="color: gray">Tips:
 1. 指定餐类及数量即可
 2. 餐品生产日期为当前时间
</pre>

<hr />
<div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="AddAmount" class="control-label"></label>
                    <input asp-for="AddAmount" class="form-control" />
                    <span asp-validation-for="AddAmount" class="text-danger"></span>
                </div>
                
                
                <div class="form-group">
                    <label asp-for="MealTypeId" class="control-label"></label>
                    <select asp-for="MealTypeId" class="form-control" asp-items="ViewBag.MealTypeId"></select>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

@await Component.InvokeAsync("MealInstock")


<div>
        <a asp-action="Index">Back to List</a>
    </div>

