@model bellyful_proj_v._0._3.Models.Volunteer

@{
    ViewData["Title"] = "V.Edit";
}
<br />
<br />
<div class="detailPageContent">

    <div class="row">
        <div class="col-md-10 float-left">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="VolunteerId" />
                <div class=" form-group row">
                    <div class=" col-md-4 ">
                        <label asp-for="FirstName" class="col-form-label"></label>
                        <input asp-for="FirstName" class="form-control" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                    <div class=" col-md-4 ">
                        <label asp-for="LastName" class="col-form-label"></label>
                        <input asp-for="LastName" class="form-control" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                    <div class=" col-md-4 ">
                        <label asp-for="Dob" class="col-form-label"></label>
                        <input asp-for="Dob" class="form-control" />
                        <span asp-validation-for="Dob" class="text-danger"></span>
                    </div>
                </div>

                <div class=" form-group row">
                    <div class=" col-md-7 ">
                        <label asp-for="Email" class="col-form-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class=" col-md-5 ">
                        <label asp-for="PreferredPhone" class="col-form-label"></label>
                        <input asp-for="PreferredPhone" class="form-control" />
                        <span asp-validation-for="PreferredPhone" class="text-danger"></span>
                    </div>
                </div>

                <div class=" form-group row">
                    <div class=" col-md-3 ">
                        <label asp-for="AlternativePhone" class="col-form-label"></label>
                        <input asp-for="AlternativePhone" class="form-control" />
                        <span asp-validation-for="AlternativePhone" class="text-danger"></span>
                    </div>
                    <div class=" col-md-5 ">
                        <label asp-for="Address" class="col-form-label"></label>
                        <input asp-for="Address" class="form-control" />
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>
                    <div class=" col-md-4 ">
                        <label asp-for="TownCity" class="col-form-label"></label>
                        <input asp-for="TownCity" class="form-control" />
                        <span asp-validation-for="TownCity" class="text-danger"></span>
                    </div>
                </div>

                <div class=" form-group row">
                    <div class=" col-md-3 ">
                        <label asp-for="PostCode" class="col-form-label"></label>
                        <input asp-for="PostCode" class="form-control" />
                        <span asp-validation-for="PostCode" class="text-danger"></span>
                    </div>
                    <div class=" col-md-6 ">
                        <label asp-for="BranchId" class="col-form-label"></label>
                        <select asp-for="BranchId" class="form-control" asp-items="ViewBag.BranchId"></select>
                        <span asp-validation-for="BranchId" class="text-danger"></span>
                    </div>
                    <div class=" col-md-3 ">
                        @*<label class="form-check-label">
                                Is Assigned AppUser Account :
                                <input type="hidden" asp-for="IsAssignedUserAccount.Value" />
                            </label>*@

                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" onclick="spinerLoading(this)" style="background-color:lightblue;" class="btn text-black-50" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index" onclick="spinerLoading(this)" style="background-color:lightpink;" class="btn text-black-50">Back to List</a>
    </div>

</div>
