
<h4> Hi: Chef Manager! </h4>
<h6>Today is @DateTime.Today.DayOfYear th day of 2019</h6>

<hr />

<div class="row">


    <div class="col-md-2">
        <div class="btn-group-vertical">
            <a class="btn btn-success" asp-controller="Orders" asp-action="Index">Orders</a>
        </div>
    </div>

    <div class="col-md-2">
        <div class="btn-group-vertical">
            <a class="btn btn-info" asp-controller="MealInstocks" asp-action="Index">MealInstocks</a>
            <a class="btn btn-info" asp-controller="MealTypes" asp-action="Index">Meal Type</a>
            <a class="btn btn-info" asp-controller="Batches" asp-action="Index">Batches</a>
        </div>
    </div>
</div>
