@*Orders*@


    <li>
        
        <a asp-controller="OrdersForVolunteer" asp-action="MyOrdersIndex" asp-route-Name="@User.Identity.Name">
            <i class="fa fa-file-text-o "></i><span>My Order</span>
        </a>

    </li>

<li>
    
    <a asp-controller="OrdersForVolunteer" asp-action="PushedOrdersIndex" asp-route-Name="@User.Identity.Name">
        <i class="fa fa-file-o"></i><span>New Order</span>
    </a>

</li>



@*Meal*@
<li>
    <a href="#MSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
        <i class="fa fa-cutlery "></i><span>Meal</span>
    </a>
    <ul class="collapse list-unstyled" id="MSubmenu">
        <li>
            <a asp-controller="MealInstocks" asp-action="Index">Instock</a>
        </li>
        <li>
            <a asp-controller="Batches" asp-action="Index">Check Date</a>
        </li>
    </ul>
</li>




