<h4> Hi: Delivery Man! </h4>
<h6>Today is @DateTime.Today.DayOfYear th day of 2019</h6>

<hr />


<div class="row">


    <div class="col-md-3">
        <div class="btn-group-vertical">
            <a class="btn btn-info" asp-controller="MealInstocks" asp-action="Index">MealInstocks</a>
        </div>
    </div>
    <div class="col-md-3">
        <div class="btn-group-vertical">
            <a class="btn btn-success" asp-controller="Orders" asp-action="MyOrderIndex">My Order</a>
        </div>
    </div>
</div>