@*Orders*@





@*Meal*@
<li>
    <a href="#MSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
        <i class="fa fa-mug-hot "></i>
        <span>Meal</span>
    </a>
    <ul class="collapse list-unstyled" id="MSubmenu">
        <li>
            <a asp-controller="MealInstocks" asp-action="Index">In-stock</a>
        </li>
        <li>
            <a asp-controller="Batches" asp-action="Index">Check Date</a>
        </li>
    </ul>
</li>




