
@{
    ViewData["Title"] = "Contact Us";
}
<br />
<br />
<section class="mb-4">

    <!--Section heading-->
    <!--Section description-->
    <!--Grid column-->
    <br />
    <div class="row">

        <div class="col-md-12 text-center">
            <a href="https://Maps.google.com/?q=123 Abc St">
                <i style="color:#17a2b8" class="fa fa-dot-circle-o mt-4 fa-2x"></i>
                <p>123 Abc St Invercargill</p>
            </a>
        </div>
        <br /><br /><br /><br /><br /><br />
        <div class="col-md-12 text-center">
            <a href="tel:021234567">
                <i style="color:#17a2b8" class="fa fa-phone mt-4 fa-2x"></i>
                <p>+ 021 234 567</p>
            </a>
        </div>
        <br /><br /><br /><br /><br /><br />
        <div class="col-md-12 text-center">
            <a href="sms:021234567">
                <i style="color:#17a2b8" class="fa fa-commenting mt-4 fa-2x"></i>
                <p>+ 021 234 567</p>
            </a>
        </div>
        <br /><br /><br /><br /><br /><br />
        <div class="col-md-12 text-center">
            <a href="mailto:contact@bellyful.com">
                <i style="color:#17a2b8" class="fa fa-envelope mt-4 fa-2x"></i>
                <p> contact@bellyful.com  </p>
            </a>
        </div>




        <!--Grid column-->

    </div>

</section>
<br />
<br />
