
@{
    ViewData["Title"] = "Contact";
}

<section class="mb-4">

    <!--Section heading-->
    <h2 class="h1-responsive font-weight-bold text-center my-4">Contact us</h2>
    <!--Section description-->

   
        <!--Grid column-->
        <div class="row">

            <div class="col-md-6 text-center">
                <a href="https://Maps.google.com/?q=123 Abc St">
                    <i style="color:#7386D5" class="fas fa-map-marker-alt mt-4 fa-2x"></i>
                    <p>123 Abc St Invercargill</p>
                </a>
            </div>

            <div class="col-md-6 text-center">
                <a href="tel:021234567">
                    <i style="color:#7386D5" class="fas fa-phone mt-4 fa-2x"></i>
                    <p>+ 021 234 567</p>
                </a>
            </div>  
            
            <div class="col-md-6 text-center">
                <a href="sms:021234567">
                    <i style="color:#7386D5" class="fas fa-comment-dots mt-4 fa-2x"></i>
                    <p>+ 021 234 567</p>
                </a>
            </div>  
            
            <div class="col-md-6 text-center">
                <a href="mailto:contact@bellyful.com">
                    <i style="color:#7386D5" class="fas fa-envelope mt-4 fa-2x"></i>
                    <p> contact@bellyful.com  </p>
                </a>
            </div>


           
       
        <!--Grid column-->

    </div>

</section>
