@using System.Data
@using System
@using Microsoft.CodeAnalysis.CSharp.Syntax
@{
    ViewData["Title"] = "Dash Board Haven't done yet";
}

@if (@User.IsInRole("Guest"))
{
    <h2>Dear Guest: </h2>
    <h4> Please contact your Manager to Assign you a App User Role !</h4>
}
<br />
