@{
    Layout = "/Views/Shared/_Layout.cshtml";
}
@*For IdentityUser Using*@


    <div class="detailPageContent">
        <div>


            <h2>Manage your Bellyful Account</h2>

            <div>
                <hr />
                <div class="row">
                    <div class="col-md-3">
                        <partial name="_ManageNav" /> @*渲染公共页*@
                    </div>
                    <div class="col-md-9">
                        @RenderBody() @*  其他  只要引用了_layout.cshtml的页面  都在此处渲染*@
                    </div>
                </div>
            </div>
        </div>
    </div>
        <br />  <br />        <br />  <br />
        @section Scripts {
            @RenderSection("Scripts", required: false)
        }
