@model IEnumerable<bellyful_proj_v._0._3.Models.MealInstock>


@{
    ViewData["Title"] = "Create";
}

<hr />
<h4>Meal Current Instock</h4>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.InstockAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MealType)
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.InstockAmount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MealType.MealTypeName)
                </td>

            </tr>
        }
    </tbody>
</table>