@model bellyful_proj_v._0._3.Models.Recipient

@{
    ViewData["Title"] = "New Recipient";
}
 

<hr />
<div class="detailPageContent">
    
    <div class="row">
        <div class="col-md-10 float-left">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="RecipientId" />

                <div class=" form-group row">
                    <div class=" col-md-6 ">
                        <label asp-for="FirstName" class="control-label">First Name<span style="color:red">*</span></label>
                        <input asp-for="FirstName" class="form-control" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                    <div class=" col-md-6 ">
                        <label asp-for="LastName" class="control-label">Last Name<span style="color:red">*</span></label>
                        <input asp-for="LastName" class="form-control" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                </div>
                <div class=" form-group row">
                    <div class="col-md-4">
                        <label asp-for="AddressNumStreet" class="control-label">Address<span style="color:red">*</span></label>
                        <input asp-for="AddressNumStreet" class="form-control" />
                        <span asp-validation-for="AddressNumStreet" class="text-danger"></span>
                    </div>
                    <div class="col-md-4">
                        <label asp-for="TownCity" class="control-label">Town City<span style="color:red">*</span></label>
                        <input asp-for="TownCity" class="form-control" />
                        <span asp-validation-for="TownCity" class="text-danger"></span>
                    </div>

                    <div class="col-md-4">
                        <label asp-for="Postcode" class="control-label"></label>
                        <input asp-for="Postcode" class="form-control" />
                        <span asp-validation-for="Postcode" class="text-danger"></span>
                    </div>

                </div>
                <div class=" form-group row">
                    <div class="col-md-3">
                        <label asp-for="PhoneNumber" class="control-label">Phone Number<span style="color:red">*</span></label>
                        <input asp-for="PhoneNumber" class="form-control" />
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>
                    <div class="col-md-5">
                        <label asp-for="Email" class="control-label">Email<span style="color:red">*</span></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="col-md-4">
                        <label asp-for="DogOnProperty" class="control-label"></label>
                        <input asp-for="DogOnProperty" class="form-control" />
                        <span asp-validation-for="DogOnProperty" class="text-danger"></span>
                    </div>

                </div>
                <hr />
                <div class=" form-group row">



                    <div class="col-md-6">
                        <label asp-for="AdultsNum" class="control-label">Number of Adults<span style="color:red">*</span></label>
                        <input asp-for="AdultsNum" class="form-control" />
                        <span asp-validation-for="AdultsNum" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="BranchId" class="control-label">Nearest Branch<span style="color:red">*</span></label>
                        <select asp-for="BranchId" class="form-control" asp-items="ViewBag.BranchId"></select>
                        <span asp-validation-for="BranchId" class="text-danger"></span>
                    </div>


                </div>

                <div class=" form-group row">

                    <div class="col-md-4">
                        <label asp-for="Under5ChildrenNum" class="control-label">Under 5 Children<span style="color:red">*</span></label>
                        <input asp-for="Under5ChildrenNum" class="form-control" />
                        <span asp-validation-for="Under5ChildrenNum" class="text-danger"></span>
                    </div>


                    <div class="col-md-4">
                        <label asp-for="_510ChildrenNum" class="control-label">5 - 10 Children<span style="color:red">*</span></label>
                        <input asp-for="_510ChildrenNum" class="form-control" />
                        <span asp-validation-for="_510ChildrenNum" class="text-danger"></span>
                    </div>
                    <div class="col-md-4">
                        <label asp-for="_1117ChildrenNum" class="control-label">11 - 17 Children<span style="color:red">*</span></label>
                        <input asp-for="_1117ChildrenNum" class="form-control" />
                        <span asp-validation-for="_1117ChildrenNum" class="text-danger"></span>
                    </div>


                </div>
                <hr />
                <div class="form-group row ">
                    <div class="col-md-9">
                        <label asp-for="ReferralReasonId" class="control-label">ReferralReason</label>
                        <select asp-for="ReferralReasonId" class="form-control" asp-items="ViewBag.ReferralReasonId"></select>
                        <span asp-validation-for="ReferralReasonId" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-9">
                        <label asp-for="OtherReferralInfo" class="control-label">Other Referral Info</label>
                        <input style="height:51px;" asp-for="OtherReferralInfo" class="form-control" />
                        <span asp-validation-for="OtherReferralInfo" class="text-danger"></span>
                    </div>
                </div>



                <div class="form-group row">
                    <div class="col-md-9">
                        <label asp-for="DietaryRequirementId" class="control-label">Dietary Requirement</label>
                        <select asp-for="DietaryRequirementId" class="form-control" asp-items="ViewBag.DietaryRequirementId"></select>
                        <span asp-validation-for="DietaryRequirementId" class="text-danger"></span>
                    </div>

                </div>

                <div class="form-group row">
                    <div class="col-md-9">
                        <label asp-for="OtherAllergyInfo" class="control-label">Other Allergy Info</label>
                        <input asp-for="OtherAllergyInfo" class="form-control" />
                        <span asp-validation-for="OtherAllergyInfo" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">

                    <div class="col-md-8">
                        <label asp-for="AdditionalInfo" class="control-label">Additional Info</label>
                        <input asp-for="AdditionalInfo" class="form-control" />
                        <span asp-validation-for="AdditionalInfo" class="text-danger"></span>
                    </div>
                    <div class="col-md-4">
                        <label asp-for="ReferrerId" class="control-label">Referrer</label>
                        <select asp-for="ReferrerId" class="form-control" asp-items="ViewBag.ReferrerId">
                            <option value="">- Leave Empty -</option>
                        </select>
                        <span asp-validation-for="ReferrerId" class="text-danger"></span>
                    </div>
                </div>
                <input type="hidden" asp-for="CreatedDate" class="form-control" />
                <div class="form-group">
                    <input onclick="spinerLoading(this)" style="background-color:lightblue;" class="btn text-black-50" type="submit" value="Save"  />
                </div>
            </form>
        </div>
    </div>



    <div>
        <a onclick="spinerLoading(this)" style="background-color:lightpink;" class="btn text-black-50" asp-action="Index">Back to List</a>
    </div>

</div>
