@model AppUserCreateViewModel

@{
    ViewBag.Title = "Edit an App User";
}

<h2>Edit an App User</h2>
<br />
<form asp-action="EditUser" method="post">
    <div class="form-group row">
        <label asp-for="Email" class="col-sm-2"></label>
        <div class="col-sm-5">
            <input asp-for="Email" class="form-control" readOnly="readOnly" asp-route="@Model.Email"  />
            <span class="text-danger" asp-validation-for="Email"></span>
        </div>
    </div>
    
    <input type="hidden"  asp-for="Password" value="123456" />

    <div class="form-group row">
        <label asp-for="VolunteerId" class="col-sm-2"></label>
        <div class="col-sm-5">
            <select asp-for="VolunteerId" class="form-control" asp-route="@Model.VolunteerId" asp-items="ViewBag.Volunteers">
                <option value="">--Leave Empty--</option>
            </select>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="AppUserRoleId" class="col-sm-2"></label>
        <div class="col-sm-5">
            <select asp-for="AppUserRoleId" class="form-control" asp-route="@Model.AppUserRoleId" asp-items="ViewBag.AppUserRoles">
                <option value="">--Leave Empty--</option>
            </select>
        </div>
    </div>
    <br />


    <div class="text-danger" asp-validation-summary="All"></div>
    
    <br />
    
    <pre style="color: gray">
 1. The Email also is the Username for login.
 2. Only Level 4 & 5 GeneralStaff has a VolunteerId 
</pre>
    <button type="submit" class="btn btn-primary">Save</button>
    <a asp-action="Index" class="btn btn-secondary">Return to List</a>
</form>
